@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent; /* Safari/Chrome */
  tap-highlight-color: transparent; /* Firefox */
}

:root {
  background-color: black;
  color: white;
}


